body{
    background-color: #2d3436;
    font-family: 'Poppins', sans-serif;
}
.menu{
    height: 100%;
    margin: 0px;
    float: left;
}
li {
	margin:0px;
	padding: 10px;
	
}
ul {
	margin: 0px;
	padding: 0px;
}

.seccionesMenu{
    font-size:28px; 
    color:#dfe6e9;
    list-style: none;
    list-style-position: inside;
    height: 500px;   
    
} 
.logo{
    color: #fff;
    margin-top: 10px;
    height: 100px;
    background-image: url("../img/loguito.png");
    background-repeat: no-repeat;
}
.seccion{
    border-top: 1px solid #636e72; 
    height: 80px;
    padding-top: 20px;
}
.seccionesMenu :hover {
    color:#fff;
    background:#d63031; 
    
}

ul.social-media-list img {
    padding: 5px;
    border-radius: 5px;
    background-color: #b2bec3;
    width: 36px;
    height: 36px;
}
ul.social-media-list li :hover {
    
    background-color: #d63031;
   
}
ul.social-media-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.social-media-list li {
    display: inline-block;
}
    
.yosoytucine{
     width: 90%;
     height: 100%;
     margin: 0px;
     padding: 0px;
}

.header{
    /*background-color: #fd79a8;*/
    height: 150px;
    width: 100%;
}
.cabeceraFoto{
    width: 100%;
    height: 100%;
    background-image: url("../img/cabeceraWeb1.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
    align-items: center ;
    justify-content: center;
}
.rowbuscadores{
    display: flex;
    align-items: center ;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.buscador {
   margin: 10px;
  }


.primeraFilaDePelis{
    background-color: #81ecec;
    display: flex;
    align-items: center ;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;

    
}

.segundaFilaDePelis{
    background-color: #a29bfe;
    display: flex;
    align-items: center ;
    justify-content: center;
    width: 100%;

}
.pelicula{
    background-color: #2d3436;
    border:0px solid #dfe6e9;  
    width: 100%;
    display: flex;
    align-items: center ;
    justify-content: center;
    min-height: 200px;
 
}
.fotoPelicula{
    transition: transform .2s;
}
.fotoPelicula:hover{
    transform: scale(1.1);
}
.botonesEntrar{
    float: right;
    margin-top: 10px;
    margin-left: 5px;
    display: inline-block;
    color: #dfe6e9;
    font-size: 12px;

}
.botonesLoginOavatarSiestaLogeado{
    display: flex;
    align-items: center ;
    justify-content: center;
    width: 10%;
    height: 100%;
    float:right;
}
.botonLogin {
	-moz-box-shadow: 0px 1px 4px 0px #3d3d3d;
	-webkit-box-shadow: 0px 1px 4px 0px #3d3d3d;
	box-shadow: 0px 1px 4px 0px #3d3d3d;
	/*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	/*background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#d63031;
	-webkit-border-top-left-radius:42px;
	-moz-border-radius-topleft:42px;
	border-top-left-radius:42px;
	-webkit-border-top-right-radius:42px;
	-moz-border-radius-topright:42px;
	border-top-right-radius:42px;
	-webkit-border-bottom-right-radius:42px;
	-moz-border-radius-bottomright:42px;
	border-bottom-right-radius:42px;
	-webkit-border-bottom-left-radius:42px;
	-moz-border-radius-bottomleft:42px;
	border-bottom-left-radius:42px;
	text-indent:0;
	border:1px solid #e43323;
	display:inline-block;
	color:#ffffff;
	font-size:12px;
	font-weight:bold;
	height:30px;
	width:89px;
    text-decoration:none;
    display: flex;
    align-items: center ;
    justify-content: center;
	text-align:center;
	text-shadow:2px 2px 0px #b23e35;
}
.botonLogin:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
    background-color:#ce0100;
    color:#2d3436;
}.botonLogin:active {
	position:relative;
    top:1px;
}
a {
    color: white;
    text-decoration: none;
}