body{
    background-color: #2d3436;
    font-family: 'Poppins', sans-serif;
}
.menu{
    height: 100%;
    margin: 0px;
    float: left;
}
li {
	margin:0px;
    padding: 10px;
  
	
}
ul {
	margin: 0px;
	padding: 0px;
}

a{
    color: white;
    text-decoration: none;
}
p{
    color: white;
    text-decoration: none;
}
.cines{
	
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;  /* <--- Really freaking cool! */
  align-items: center;
}
.seccionesMenu{
    font-size:28px; 
    color:#dfe6e9;
    list-style: none;
    list-style-position: inside;
    height: 500px;   
    
} 
.logo{
    color: #fff;
    margin-top: 10px;
    height: 100px;
    background-image: url("../img/loguito.png");
    background-repeat: no-repeat;
}
.seccion{
    border-top: 1px solid #636e72; 
    height: 80px;
    padding-top: 20px;
}
.seccionesMenu :hover {
    color:#fff;
    background:#d63031; 
    
}

ul.social-media-list img {
    padding: 5px;
    border-radius: 5px;
    background-color: #b2bec3;
    width: 36px;
    height: 36px;
}
ul.social-media-list li :hover {
    
    background-color: #d63031;
   
}
ul.social-media-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.social-media-list li {
    display: inline-block;
}
    
.yosoytucine{
     width: 90%;
     height: 100%;
     margin: 0px;
     padding: 0px;
}

.header{
    /*background-color: #fd79a8;*/
    height: 150px;
    width: 100%;
}
.cabeceraFoto{
    width: 100%;
    height: 100%;
    background-image: url("../img/cabeceraWeb1.png");
    background-size:100% 100%;
    background-repeat: no-repeat;
    align-items: center ;
    justify-content: center;
}
.rowbuscadores{
    display: flex;
    align-items: center ;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.buscador {
   margin: 10px;
  }


.primeraFilaDeInfoPeli{
    background-color: #81ecec;
    display: flex;
    align-items: center ;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;

    
}

.segundaFilaDeInfoPeli{
    background-color: #a29bfe;
    display: flex;
    align-items: center ;
    justify-content: center;
    width: 100%;

}
.infoPeli{
    background-color: #2d3436;
    border:0px solid #dfe6e9;  
    width: 100%;
    display: flex;
    align-items: center ;
    justify-content: center;
    min-height: 200px;
 
}
.infoPeliCine{
    transition: transform .2s;
}
.infoPeliCine:hover{
    transform: scale(1.1);
}
.botonesEntrar{
    float: right;
    margin-top: 10px;
    margin-left: 5px;
    display: inline-block;
    color: #dfe6e9;
    font-size: 12px;

}
.botonesLoginOavatarSiestaLogeado{
    display: flex;
    align-items: center ;
    justify-content: center;
    width: 10%;
    height: 100%;
    float:right;
}
.botonLogin {
	-moz-box-shadow: 0px 1px 4px 0px #3d3d3d;
	-webkit-box-shadow: 0px 1px 4px 0px #3d3d3d;
	box-shadow: 0px 1px 4px 0px #3d3d3d;
	/*background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	/*background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#d63031;
	-webkit-border-top-left-radius:42px;
	-moz-border-radius-topleft:42px;
	border-top-left-radius:42px;
	-webkit-border-top-right-radius:42px;
	-moz-border-radius-topright:42px;
	border-top-right-radius:42px;
	-webkit-border-bottom-right-radius:42px;
	-moz-border-radius-bottomright:42px;
	border-bottom-right-radius:42px;
	-webkit-border-bottom-left-radius:42px;
	-moz-border-radius-bottomleft:42px;
	border-bottom-left-radius:42px;
	text-indent:0;
	border:1px solid #e43323;
	display:inline-block;
	color:#ffffff;
	font-size:12px;
	font-weight:bold;
	height:30px;
	width:89px;
    text-decoration:none;
    display: flex;
    align-items: center ;
    justify-content: center;
	text-align:center;
	text-shadow:2px 2px 0px #b23e35;
}
.botonLogin:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
    background-color:#ce0100;
    color:#2d3436;
}.botonLogin:active {
	position:relative;
    top:1px;
}


.filtros{

    
}
.dropdown-toggle {
    background-color: #db3737;
    color: #fff;
    margin: 0 .5em;
    transition: background-color .2s;
}
/*ESTOS SON ESTILOS DE BOOTSNIP NO NUESTROS*/

.stars {
    display: flex;
    flex-direction: row-reverse;
    margin: 10px;
}

.stars>i:hover:before,
.stars>i:hover~i:before {
    color: gold;
    cursor: pointer;
}
/*Estilos del range*/
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 8.3px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 2.3px 2.3px 2px #000000, 0px 0px 2.3px #0d0d0d;
    background: rgba(221, 231, 234, 0.61);
    border-radius: 1.3px;
    border: 0.2px solid #000101;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background: #d63031;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(255, 255, 255, 0.61);
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 2.3px 2.3px 2px #000000, 0px 0px 2.3px #0d0d0d;
    background: rgba(221, 231, 234, 0.61);
    border-radius: 1.3px;
    border: 0.2px solid #000101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background: #d63031;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: rgba(142, 175, 185, 0.61);
    border: 0.2px solid #000101;
    border-radius: 2.6px;
    box-shadow: 2.3px 2.3px 2px #000000, 0px 0px 2.3px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: rgba(221, 231, 234, 0.61);
    border: 0.2px solid #000101;
    border-radius: 2.6px;
    box-shadow: 2.3px 2.3px 2px #000000, 0px 0px 2.3px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background: #d63031;
    cursor: pointer;
    height: 8.4px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: rgba(221, 231, 234, 0.61);
  }
  input[type=range]:focus::-ms-fill-upper {
    background: rgba(255, 255, 255, 0.61);
  }
  .itmCine {
	border-radius: 15px;
	padding: 10px;
	background-color: #636e728a;
  	margin-left: 5px;
    width: 300px;
    height: 350px;
    display:inline-block;
	text-align: left;
    color: white;
    margin-bottom: 25px;
    border-bottom: 2px solid white;
  }
   .itmCine:hover{
 text-shadow: 4px 4px 2px #000000;
 }
 img{
 width: 100%;
 height: 50%;}